$colors-white: #FFFFFF;
$colors-cards: #EAECF0;
$colors-button-cancel: #E7EEFB;
$colors-button-delete: #F44336;
$colors-button-add: linear-gradient(90deg, rgba(7, 150, 211, 1) 0%, rgba(83, 192, 240, 1) 68.65%);
