$colors-white: #FFFFFF;
$colors-cards: #EAECF0;
$colors-button-cancel: rgba(231, 238, 251, 1);
$colors-button-delete: linear-gradient(90deg, #D30707 0%, #F05353 68.65%);
$colors-button-add: linear-gradient(90deg, rgba(7, 150, 211, 1) 0%, rgba(83, 192, 240, 1) 68.65%);
