.taskListContainer {
    width: 450px;
    border: 1px solid #EAECF0;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    padding: 32px;
    padding-bottom: 0;
    box-shadow: 0 0 2px 0 rgba(16, 24, 40, 0.05);

    .title {
        font-weight: 400;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        margin: 0 auto 24px;
    }
}

.ul {
    list-style-type: none;
    
    .li {
        border: 2px dashed #d7dde9;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        margin: 0 auto 24px auto;
        width: calc(100% - 64px);
        cursor: pointer;
        :hover {
            background-color: #F7F9FD;
        }

        .task {
            display: flex;
            align-items: center;
            gap: 16px;
            flex-grow: 1;
        }
    }
}

.checkbox {
    display: none;
}

.checkbox + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
}

.checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 2px solid #d7dde9;
    border-radius: 4px;
    background-color: #fff;
}

.checkbox:checked + label::before {
    background-color: rgba(160, 220, 246, 1); 
    border-color: rgba(7, 150, 211, 1); 
}

.checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 2px;
    height: 10px;
    border: solid rgba(7, 150, 211, 1); 
    border-width: 0 2px 2px 0;
}