@import '../../styles/settings.module.scss';

.button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 16px, 24px, 16px, 24px;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s;

    &.add {
        width: 450px;
        height: 50px;
        color: white;
        background: $colors-button-add;
    }

    &.addSave {
        @extend .add;
        width: 185px;
    }

    &.cancel {
        @extend .addSave;
        background: $colors-button-cancel;
        color: rgba(0, 0, 0, 1)
    }

    &.delete {
        @extend .addSave;
        background: $colors-button-delete;
        color: white;
    }
}